/**
 * Home page map module
 */

/* ================== Hide un-necessary map items ================== */

.gmnoprint,
.gm-style-cc,
.gm-tilt,
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"],
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
  display: none !important;
}

.gm-bundled-control>.gmnoprint,
.gm-bundled-control.gmnoprint,
.gm-style-pbc + div .gmnoprint {
  display: block !important;
}

/* ================== Map module ================== */

.map-block {
  position: relative;
  margin-left: pxToRem(145, 16);//~14.28666%;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: percentage(609 / 870);
  height: 0;
}

.map__node {
  @include make-full-position(absolute);
}

// == Map overlay content

.map-overlay-content {
  position: absolute;
  top: 50%;
  left: pxToRem(-85, 16);//~-9.770114942528735%;
  z-index: $zindex-normal;
  transform: translateY(-50%);
}

.tasks-container {
  position: relative;
  padding: 10px 10px;
  background: $brand-white;
  box-shadow: 16px 20px 24px 0 rgba(0, 0, 0, 0.06);
  width: pxToRem(330, 16);

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    height: pxToRem(131, 16);
    content: "";
  }
}

.tasks-container__body {
  position: relative;
  height: pxToRem(445, 16);
  overflow: hidden;
}

.tasks-card {
  position: relative;
  padding: pxToRem(15, 16) pxToRem(30, 16) pxToRem(20, 16);
  background: $brand-white;
  border: 1px solid #f4f4f4;
  border-top: 5px solid $primary;
  box-shadow: 16px 20px 24px 0 rgba(0, 0, 0, 0.06);
  max-width: 290px;
  font-size: pxToRem(14, 16);

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.tasks-card__time {
  display: flex;
  align-items: center;
  margin-bottom: pxToRem(10, 16);
  font-size: pxToRem(12, 16);

  .icon {
    margin-right: pxToRem(10, 16);
    font-size: pxToRem(15, 16);
  }
}

.tasks-card__title {
  margin-bottom: pxToRem(7, 16);
  font-size: pxToRem(18, 16);
  line-height: 1.3;
}

.tasks-card__logo {
  position: absolute;
  top: pxToRem(15, 16);
  right: pxToRem(25, 16);
}
